.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-radius: 1.5rem;
  box-shadow: rgba(149, 157, 165, 0.4) 0 8px 24px;
  position: sticky;
  top: 0;
  background: white;
}

.Header-logo {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  width: 5rem;
  height: 5rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Header-logo {
    animation: Header-logo-spin infinite 20s linear;
  }
}

@keyframes Header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
