ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.Elem {
    margin: 20px;
    display: flex;
    align-items: center;
}

.Name {
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
}

.Img {
    width: 180px;
    border-radius: 50%;
}